.mini-hero {
  background: red;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.mini-hero .mini-hero-content {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

.mini-hero .mini-hero-title {
  color: var(--color-mnp-white);
  font-size: var(--heading-font-size-xxl);
  margin: 0;
}

.mini-hero .mini-hero-title strong {
  font-weight: 700;
}
