.breadcrumb {
  background: none;
  padding: var(--spacing-l) var(--spacing-l) 0;
}

.breadcrumb .breadcrumb-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap;
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

.breadcrumb .breadcrumb-list li {
  margin: 0;
  font-size: var(--body-font-size-s);
  color: var(--color-mnp-body-text);
}

.breadcrumb .breadcrumb-list li::after {
  content: '\203A';
  margin-left: var(--spacing-s);
  color: var(--color-mnp-body-text);
}

.breadcrumb .breadcrumb-list li:last-child::after {
  content: '';
}

.breadcrumb .breadcrumb-list a {
  color: var(--color-mnp-heading-teal);
  text-decoration: none;
}

.breadcrumb .breadcrumb-list a:hover {
  text-decoration: underline;
}
